@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss" prefix(ctz);

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary: #2463ec;
}

/* Namespace all styles under contentarize wrapper */
.contentarize-cms-wrapper html,
.contentarize-cms-wrapper body,
.contentarize-cms-wrapper * {
    @apply ctz:outline-none;
}

.contentarize-cms-wrapper label {
    @apply ctz:font-medium ctz:mb-2 ctz:block
}

.contentarize-cms-wrapper input[type="text"],
.contentarize-cms-wrapper input[type="email"],
.contentarize-cms-wrapper textarea {
    @apply ctz:text-sm ctz:px-5 ctz:py-4 ctz:rounded ctz:bg-gray-100 ctz:text-gray-800 ctz:block ctz:w-full ctz:border ctz:border-gray-300 ctz:resize-none
}

.contentarize-cms-wrapper .container {
    @apply ctz:mx-auto
}

.contentarize-cms-wrapper .parent:hover>div:nth-child(2) .child {
    opacity: 0.5 !important;
}

.contentarize-cms-wrapper .border {
    @apply ctz:border ctz:border-gray-300
}

.contentarize-cms-wrapper button {
    @apply ctz:cursor-pointer
}

.contentarize-cms-wrapper p:empty:before {
    content: ' ';
    white-space: pre;
}

.contentarize-cms-wrapper .btn {
    @apply ctz:transition-colors ctz:border ctz:border-violet-200 ctz:text-violet-600 ctz:bg-violet-100 ctz:hover:bg-violet-200 ctz:hover:border-violet-300
}