@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

    --color-primary: #2463ec;
}

html,
body,
* {
    @apply outline-none;
}

label {
    @apply font-medium mb-2 block
}

input[type="text"], input[type="email"], textarea {
    @apply text-sm px-5 py-4 rounded bg-gray-100 text-gray-800 block w-full border border-gray-300 resize-none
}

.container {
    @apply mx-auto
}

.parent:hover>div:nth-child(2) .child {
    opacity: 0.5 !important;
}

.border {
    @apply border border-gray-300
}

button {
    @apply cursor-pointer
}

p:empty:before {
    content: ' ';
    white-space: pre;
}

.btn {
    @apply transition-colors border border-violet-200 text-violet-600 bg-violet-100 hover:bg-violet-200 hover:border-violet-300
}